.centerElement {
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
    height: 70px;
}

.bgColor {
    background-color: #1D3557;
}

footer div {
    color: white;
}

/*.pushDown {*/
/*    position: relative;*/
/*    top: 550px;*/
/*}*/
